<nav id="myTopnav">
  <a href="../index.html" class="active">SkyyLight</a>
  <a href="../projects">Projects</a>
  <a href="../credits">Credits</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</nav>
